@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: auto;
    padding: 0 auto;
}

.hero-container {
    background: url('/image/tv girl album cover blured.png') no-repeat center center fixed;
    background-size: cover;
    padding: 70px 70px;
}



header {
    background-color: black;
    padding: 70px 70px;
    padding-top: 40px;
}

header .logo{
    float: left;
    font-size: larger;
}

header nav {
    float: right;
    padding-right: 40px;
    width: 60%;
}

header nav ul {
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.hero-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.hero-container .hero text eng {
    padding-right: 100px;
}

.hero-container img {
    margin: 120px 50px;
    border-radius: 85px;
    width: 512px;
    height: 512px;
}

.hero-container p{
    background-color:rgba(0, 0, 0, 0.449);
    border-radius: 85px;
    padding: 20px 0;
    margin-top: 20px;
    padding-right: 35px;
}